* {
    margin: 0%;
    padding: 0%;
}
.header {
width: 100%;
}

.pages {
    font-size: 10px;
    display: flex;
    justify-content: space-between;
}
.jk{
    width: 20px;
    height: 200px;
}
.first{
    width: 9%;
    padding-left: 1%; 
    display:flex;
    align-items: center;
    gap: 20px;
}

.logo {
    width: 15px;
    height: 15px;
    object-fit:unset;
}

.second {
    font-size: 14px;
    color:  #797878;
    display: flex;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.third {
    font-size: 14px;
    color:  #797878;
    padding-right: 15px;
    display: flex;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.page {
    height: 33px;
    margin-top: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ultras {
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.menu {
    font-weight: 700;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    gap: 20px;
    text-transform: capitalize;
    font-style: normal;
}

.search {
    padding-right: 1.2%;
    display: flex;
    align-items: center;
    gap: 15px;
}

.ultras {
    display: flex;
    flex-direction: column;
    height: 10px;
    padding-bottom: 40px;
    
}

.shadow{
    font-weight: 800;
    font-size: 35px;
    font-family: 'Inter';
}

.shadow1 {
    font-size: 19px;
    font-weight: 100;
    color: #808080;
    margin-left: 1.35%;
}

.summer {
    margin-top: 11%;
    margin-left: 14.6%;
    width: 40%;
    color: #1A1A1A;
    font-family: 'Inter', sans-serif;
    font-size: 126px;
}

.image1{ 
    margin-top: 25px;
}

.headersum {
    width: 100%;
    height: 150%;
    background: url('../images/bg.png')no-repeat;
}

.lorem {
    margin-top: 2.1%;
    color: #555;
    width: 40%;
    height: 9%;
    padding-left: 15%;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 250%;
    letter-spacing: 0.36px;
    text-transform: capitalize;
    font-family: 'Raleway', sans-serif;
}

.button {
    font-size: 17px;
    font-family: 'Inter', sans-serif;
    color: #fff;
    width: 11.8%;
    height: 65px;
    margin-top: 4.1%;
    margin-left: 14.7%;
    background: #191919;
    display: flex;
    gap: 5%;
    align-items: center;
    font-weight: 500;
    text-transform: capitalize;
}
.rside {
    width: 11%;
    height: 20%;
    background-color: #1A1A1A;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1%;
    margin-top: 1%;
}
.shop {
    display: flex;
    justify-content: center;
    margin-left: 16.5%;
}




